{% extends 'base.html' %}

{% block content %}
  <div class="bg-gray-900 text-white">
    <div class="container mx-auto py-8 px-4">
      <h1 class="text-2xl font-bold text-purple-600">{{ username }}'s Messages</h1>

      {% for message in messages reversed %}
        <div class="flex justify-start items-center my-4 {% if message.sender == request.user %} flex-row{% else %} flex-row-reverse{% endif %}">
          <div class="flex-shrink-0 mr-4">
            
          </div>
          <div class="w-2/3">
            <div class="bg-gray-800 rounded-md p-4 shadow-lg hover:shadow-2xl transform hover:-translate-y-1 transition-all duration-500">
              <div class="flex justify-between items-center mb-2">
                <div class="text-gray-400 text-sm">
                  <p><strong>From:</strong> {{ message.sender }}</p>
                  <p><strong>Subject:</strong> {{ message.subject }}</p>
                </div>
                <div class="text-gray-500 text-sm">
                  <p>{{ message.sent_at|date:"F j, Y, g:i a" }}</p>
                  {% if message.read_at %}
                    <p class="text-green-400">Read {{ message.read_at|timesince }} ago</p>
                  {% else %}
                    <p class="text-red-400">Unread</p>
                  {% endif %}
                </div>
              </div>
              <p class="text-gray-300">{{ message.body }}</p>
              {% if message.sender != request.user %}
                <a href="{% url 'reply_message' message.pk %}" class="text-purple-600 hover:underline">Reply</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
