{% extends 'base.html' %}

{% block content %}



<a href="/dashboard/submissions/"><h1 class="text-green-500 mb-4 text-purple-600">All Submissions</h1></a>

<div class="overflow-x-auto">


  <div style="position: fixed; top: 80px; right: 20px;">
    <a href="/dashboard/pie" class="inline-block bg-purple-600 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-purple-700">more detailed view</a>
  </div>
  
  
  <div class="bg-gray-800 rounded-lg shadow overflow-hidden">
    <div class="px-6 py-4">
      <h1 class="text-green-300 mb-4 text-purple-600 text-2xl font-medium">Submissions</h1>
  
      <ul class="divide-y divide-gray-700">
        {% if submissions %}

        {% for submission in submissions %}
        <li class="py-4 hover:bg-gray-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
              </div>
              <div>
               <a href="/dashboard/submissions/?job_title={{ submission.job_post.title }}"> <h3 class="text-lg font-medium text-gray-300">{{ submission.job_post.title }}</h3></a>
                <p class="text-sm font-medium text-gray-400">{{ submission.user.username }}</p>
                <p class="text-sm font-medium text-gray-400">{{ submission.job_post.company }}</p>
              </div>
            </div>
            <div class="flex items-center space-x-4">
              <p class="text-sm font-medium text-gray-400">{{ submission.created_at|date:'M d, Y' }}</p>
              <form method="post" action="{% url 'update_submission_status' submission.id %}">
                {% csrf_token %}
                <select name="status" class="block w-full mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option value="in_progress" {% if submission.status == "in_progress" %}selected{% endif %}>In Progress</option>
                  <option value="accepted" {% if submission.status == "accepted" %}selected{% endif %}>Accepted</option>
                  <option value="rejected" {% if submission.status == "rejected" %}selected{% endif %}>Rejected</option>
                </select>
                
                <button type="submit" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-purple-400 bg-gray-800 hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Update Status</button>
              </form>
              <a href="{{ submission.resume.url }}" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-purple-400 bg-gray-800 hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Download Resume</a>
              <a href="{% url 'send_message' submission_id=submission.id %}" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-purple-400 bg-gray-800 hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Send Message</a>
            </div>
          </div>
        </li>
      {% endfor %}
      {% else %}
  <p class="text-green-300 mb-4 text-purple-600 text-2xl font-medium">There are not yet any submissions.</p>
{% endif %}
      </ul>
    </div>
  </div>
  
  
  
  



</div>

<style>
  li:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }
  


  .table-auto {
    border-collapse: collapse;
    width: 100%;
  }

  .table-auto td,
  .table-auto th {
    border: 1px solid #e2e8f0;
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
  }

  .text-green-500 {
    color: #48bb78;
  }

  .text-purple-600 {
    color: #6b46c1;
  }

  .hover\:underline:hover {
    text-decoration: underline;
  }

  @media (max-width: 640px) {
    .table-auto {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    .table-auto thead {
      display: none;
    }
    .table-auto tr {
      border-bottom: 1px solid #e2e8f0;
      display: inline-block;
      vertical-align: top;
    }
    .table-auto td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    .table-auto td::before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      left: 0;
      position: absolute;
      text-align: left;
      top: 0;
    }
  }
</style>

{% endblock %}