<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">
    

    {% include 'partials/nav.html' %}
    
   

    <div class="container mx-auto px-10">
      {% block content %}
      <h1 class="mt-6 text-center text-3xl font-bold text-gray-100">authenticated</h1>
      <h1 class="mt-6 text-center text-3xl font-bold text-gray-100">h1 {{ username }} </h2>
      {% endblock content %}
      {% include 'partials/footer.html' %}
    </div>
  
</body>
</html>
